<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Total Energy Calculator</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Hero Section -->
    <header>
        <h1>Welcome to the Total Energy Calculator</h1>
        <p>Explore the Power of DFT and Neural Networks</p>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>

    <!-- Features Section -->
    <section id="features">
        <h2>Why Use The Calculator?</h2>
        <p>The calculator is designed for researchers, educators, and industry professionals who need to estimate the total energy of crystalline systems but may not require the full detail or computational load of traditional Density Functional Theory (DFT) calculations. It is particularly valuable for those who are looking for a quick, approximate estimate of energy values to aid in larger research projects, material design, or educational purposes.</p>
        <p>The calculator is user-friendly and requires minimal setup. Users simply input key parameters—such as the type of element, the chosen pseudopotential, k-points distribution, and energy cutoff values—and the calculator provides an estimate of the total energy using a pre-trained neural network model. This process eliminates the need for extensive computational resources and detailed understanding of quantum mechanics, making it accessible to a broader audience.</p>
        <p>This calculator exemplifies the integration of machine learning with traditional DFT methods. By leveraging a neural network, the calculator learns from patterns and relationships within previously calculated DFT data. This approach not only speeds up the calculation process but also opens up new possibilities for predictive analytics in materials science. It serves as an excellent case study of how machine learning can augment and enhance the capabilities of classical simulation methods, providing a bridge between complex theoretical computations and practical, everyday applications.</p>
        <ul>
            <li><strong>Speed and Efficiency:</strong> Quickly estimates the total energy without the computational overhead of traditional DFT calculations.</li>
            <li><strong>Ease of Use:</strong> Offers a straightforward interface that non-specialists can use effectively.</li>
            <li><strong>Educational Tool:</strong> Acts as a practical demonstration of applied physics and machine learning in a scientific context.</li>
            <li><strong>Resource Optimization:</strong> Saves valuable time and computational resources, allowing researchers to focus on experiment design and analysis rather than computation.</li>
            <li><strong>Scalability:</strong> Efficiently handles a wide range of input parameters, making it adaptable to various research needs and scenarios.</li>
        </ul>
    </section>
    
    <!-- Calculator Form -->
    <section id="calculator">
        <h1>Energy Prediction Form</h1>
            <form action="{{ url_for('calculator') }}" method="post" class="calculator-form">
            <div class="form-group">
                <label for="elemento">Elemento:</label>
                <select id="elemento" name="elemento" class="form-control">
                    <option value="Ag">Ag</option>
                    <option value="Al">Al</option>
                    <option value="Au">Au</option>
                    <option value="Cu">Cu</option>
                    <option value="Fr">Fr</option>
                    <option value="K">K</option>
                    <option value="Ni">Ni</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ecut">Ecut (integer):</label>
                <input type="number" id="ecut" name="ecut" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="kpoints">KPoints:</label>
                <input type="text" id="kpoints" name="kpoints" class="form-control">
            </div>
            <div class="form-group">
                <label for="pseudopotencial">Pseudopotential:</label>
                <select id="pseudopotencial" name="pseudopotencial" class="form-control"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-calculate">CALCULATE</button>
            </div>
        </form>
    </section>

    <!-- Results Section -->
    <section id="results">
        {% if prediction %}
            <h2 style="font-size: 2em; font-weight: bold; text-align: center; margin-top: 20px;">Predicted Energy: {{ prediction }}</h2>
        {% endif %}
        {% if error %}
            <p style="color: red; font-size: 1.5em; text-align: center;">{{ error }}</p>
        {% endif %}
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const elementSelector = document.getElementById('elemento');
            const pseudoSelector = document.getElementById('pseudopotencial');
            const pseudos = {
                'Ag': ['Ag.pbe-n-kjpaw_psl.1.0.0', 'Ag.pbe-n-rrkjus_psl.1.0.0', 'Ag.pbesol-n-kjpaw_psl.1.0.0', 'Ag.pbesol-n-rrkjus_psl.1.0.0'],
                'Al': ['Al.pbe-n-kjpaw_psl.1.0.0.UPF', 'Al.pbe-nl-kjpaw_psl.1.0.0.UPF', 'Al.pbe-nl-rrkjus_psl.1.0.0.UPF'],
                'Au': ['Au.pbe-n-kjpaw_psl.1.0.0', 'Au.pbe-n-rrkjus_psl.1.0.0', 'Au.pbesol-n-kjpaw_psl.1.0.0', 'Au.pbesol-n-rrkjus_psl.1.0.0'],
                'Cu': ['Cu.pbe-dn-kjpaw_psl.1.0.0', 'Cu.pbe-dn-rrkjus_psl.1.0.0', 'Cu.pbesol-dn-kjpaw_psl.1.0.0', 'Cu.pbesol-dn-rrkjus_psl.1.0.0'],
                'Fr': ['Fr.pbe-spdn-kjpaw_psl.1.0.0', 'Fr.pbe-spdn-rrkjus_psl.1.0.0', 'Fr.pz-spdn-kjpaw_psl.1.0.0', 'Fr.pz-spdn-rrkjus_psl.1.0.0'],
                'K':  ['K.pbe-spn-kjpaw_psl.1.0.0', 'K.pbe-spn-rrkjus_psl.1.0.0', 'K.pz-spn-rrkjus_psl.1.0.0', 'K.pz-spn-kjpaw_psl.1.0.0'],
                'Ni': ['Ni.pbesol-spn-kjpaw_psl.1.0.0', 'Ni.pbesol-spn-rrkjus_psl.1.0.0', 'Ni.pbe-spn-kjpaw_psl.1.0.0', 'Ni.pbe-spn-rrkjus_psl.1.0.0']
                    };

            elementSelector.addEventListener('change', function() {
                const selectedElement = this.value;
                const options = pseudos[selectedElement];
                pseudoSelector.innerHTML = ''; // Clear existing options
                options.forEach(function(pseudo) {
                    const option = document.createElement('option');
                    option.value = pseudo;
                    option.textContent = pseudo;
                    pseudoSelector.appendChild(option);
                });
            });
        });
        document.addEventListener('DOMContentLoaded', function() {
            // ... Your existing JavaScript code ...

            // Scroll to results section if there is a prediction or an error
            if (document.getElementById('results').innerText.trim() !== '') {
                document.getElementById('results').scrollIntoView({ behavior: 'smooth' });
            }
        });
    </script>

    
    <!-- Contact Information -->
    <section id="contact">
        <h2>Contact Us</h2>
        <p>Email: lorenzo.orozco.garcia@gmail.com</p>
    </section>
</body>
</html>
